<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Activation</title>
</head>
<body>
    <p>
        you're reciving this email becouse you need to finish activation process
    </p>
    <p style="margin-bottom: 100px;"><a style="display: inline-block; padding: 10px 20px; background-color: red; color: white; text-decoration: none;" href="{{activation_url}}"> Activation Account

    </a>
    </p>
    <span> Follow us : </span>
    <div style="display: flex; justify-content: center; align-items: center;">
        <a  href="#" style=" margin: 5px; padding: 5px; border-radius: 10%; background-color: #E1306c; color: white;text-decoration: none; font-size: 10px
        ;"> Instagram</a>

        <a  href="#" style=" margin: 5px; padding: 5px; border-radius: 10%; background-color: #5099ba; color: white;text-decoration: none; font-size: 10px
        ;"> Linkdin</a>

    </div>
    <i>
        If you face diffeculties on account activation kindly contact us on :luckykatariya30@gmail.com 
    </i>
</body>
</html>